<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>${file.frontMatter.title}</title>
    <link href="../ui/styles.css" rel="stylesheet" />
</head>

<body>
    {% include "app/templates/header.html" %}
    
    {% block main %}Default Content{% endblock %}
    </main>
    <footer>
        <address>1234 Elm Street, Windsor ON | 519-555-1212</address>
    </footer>
</body>

</html>
